.main-content {
  padding: 1rem;
  width: 100%;

  &-home {
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
  }
}


@media only screen and (max-width: 767px) {
  .body {
    .admin-body {
      display: inline-block !important;
      width: 100%;

    }
    .main-content {
      padding: 1rem 0rem;
    }
  }
}