.main-content {
  padding: 1rem;
  width: 100%;
  // width: 65%;

  &-home {
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
  }
}


@media only screen and (max-width: 767px) {
  .body {
    .admin-body {
      display: inline-block !important;
      width: 100%;

    }
    .main-content {
      padding: 1rem 0rem;
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .body {
    .main-content {
      min-width: 67% !important;
      .body-calendar{
        .container-fluid{
          .table-responsive{
            // max-width: 75%;
          }
        }
      }
      // width: auto;
      // &-home {
      //   width: 75%;
      // }
    }
  }
}